input {display: none;}
label {cursor: pointer;}

.nav {user-select: none;}

.nav__showmenu {
    position: relative;
    z-index: 3;
    display: inline-block;
    margin-left: -10px;
    padding: 5px 10px 10px;
    top: 2px;
    font-size: 23px;
    float: right;
}

.nav__back {
    position: fixed;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    transition: background-color .3s;
}

.menu {
    list-style: none;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width:  190px;
    margin: 0;
    padding: 17px 0;
    text-transform: uppercase;
    line-height: 2em;
    background-color: #2c2c2c;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
}




.menu__item {  
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}


.nav__check:checked~.nav__back {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
}

.menu__item:hover,.nav__showmenu:hover{opacity: 0.5;
color: #6eeee4;}
.menu::-webkit-scrollbar {display: none;}
.nav__check:checked+.nav__showmenu {color:#6eeee4;}
.nav__check:checked~.menu {transform: translateX(0);}